In [1]:
import pandas as pd
import newspaper
from newspaper import Article
from newspaper import Config

In [18]:
#!pip install newspaper3k

In [2]:
df1=pd.read_csv('HTML.csv')
df1

                                          HTML_FILES
0  https://www.cnn.com/2023/03/05/politics/larry-...
1  https://www.cnn.com/travel/article/least-visit...
2  https://www.cnn.com/2023/02/28/tech/tiktok-eu-...
3  https://www.washingtonpost.com/world/2023/03/0...
4  https://www.washingtonpost.com/world/2023/03/0...
5  https://abcnews.go.com/Politics/trump-indicted...
6  https://www.yahoo.com/news/russian-mobilized-s...
7  https://www.nytimes.com/2023/03/05/technology/...
8  https://www.nytimes.com/2023/03/05/us/ron-desa...
9  https://www.aljazeera.com/news/2023/3/5/fire-h...

In [3]:
#count number of rows
row_count=len(df1)
print(row_count)

10

In [4]:
#creating a new dataFrame
df2=pd.DataFrame()
df2['Text']=[]
df2

Empty DataFrame
Columns: [Text]
Index: []

In [5]:
#iterating over each rows
j=0
for i in range(len(df1)):
    url=(df1.iloc[i]["HTML_FILES"])
    article = newspaper.Article(url)
    try:
        article.download()
        article.parse()
        article.nlp()
    except:
        pass
    # df2 = df2.append({'Text': article.text}, ignore_index=True)
    df2.loc[j]=article.text
    j+=1
df2

                                                Text
0  CNN —\n\nFormer Maryland Gov. Larry Hogan said...
1  Editor’s Note: Monthly Ticket is a CNN Travel ...
2  Paris/London CNN —\n\nThe European Parliament ...
3  Chinese Premiere Li Keqiang pledged to expand ...
4  Listen 6 min Comment on this story Comment Gif...
5  Alaska Sen. Dan Sullivan on Sunday shared his ...
6  Russian military\n\nRead also: Russia’s big of...
7  Kheiron said the technology worked best alongs...
8  David Jolly, a former Republican congressman f...
9  At least 2,000 huts damaged in one of the 32 c...

In [6]:
df2.to_csv('TextFile.csv',index=False)

Extracting Embeddings

In [27]:
# pip install simpletransformers

In [7]:
#converting the dataframe into list
text_list=df2['Text'].astype(str).tolist()
# print(text_list)

In [28]:
# pip install torch

In [8]:
import numpy as np
import torch
from tqdm.auto import tqdm
from simpletransformers.language_representation import RepresentationModel

In [9]:
model=RepresentationModel(
    model_type="bert",
    model_name="bert-base-uncased",
    use_cuda=False
)
text_vectors=model.encode_sentences(text_list,combine_strategy="mean")

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForTextRepresentation: ['cls.predictions.transform.dense.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight']
- This IS expected if you are initializing BertForTextRepresentation from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTextRepresentation from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [10]:
text_vectors.shape

(10, 768)

In [11]:
text_vectors

array([[-0.2430028 , -0.03686339,  0.12933147, ..., -0.02215536,
         0.02565821, -0.16486016],
       [-0.2082921 ,  0.12346137,  0.52024037, ..., -0.18253134,
         0.44488356, -0.076945  ],
       [-0.12032643,  0.20202154,  0.28728086, ..., -0.16669731,
        -0.04270961,  0.04811747],
       ...,
       [-0.09492534,  0.03443784,  0.45339823, ..., -0.15488538,
         0.24386209, -0.03027071],
       [-0.33159134, -0.20153993,  0.25723073, ..., -0.13800599,
        -0.00745352,  0.00383704],
       [-0.15575291,  0.05164833,  0.29488418, ..., -0.1231868 ,
         0.11837801,  0.04944859]], dtype=float32)